<header [style.background-color]= survey.surveyColor>
    <div class="container">
        <div class="row">
            
            <div class="col">
                <div class="title-heading">{{survey.surveyTitle}}</div>
                <br>
            </div>
            
        </div>

    </div>
</header>
<section *ngIf="!respond">
    <div class="container">
        <div class="mt-5">
            <br><br><br>
            <div class="disclaimer">
                
                    <p align="justify">
                        {{survey.description}}
                        La información que nos proporcione será confidencial, con el propósito
                         de analizar patrones grupales, y no de carácter personal. <br>

                         Los resultados finales se usarán con fines científicos para proponer 
                         acciones de mejora para cuidar su salud física, mental y emocional en 
                         el ámbito laboral. Al finalizar asegúrese de dar clic en ENVIAR, de lo 
                         contrario tendrá que volver a llenarlo. <br><br>
                        
                         Acepto que el programa no es responsable por mi salud, ya que no tiene 
                         por finalidad diagnosticar ni reemplazar las recomendaciones y/o tratamiento 
                         de mi médico relacionado con mi salud, mi tratamiento o los medicamentos 
                         que me han prescrito. <br><br>
                        
                         Los resultados de la encuesta me serán entregados al finalizar mi 
                         participación para mi conocimiento y será mi responsabilidad el acudir a mi 
                         médico. Acepto que la información de esta evaluación sin identificación 
                         será usada con fines estadísticos. Y además será tratada y resguarda en 
                         base con la ley de Federal de Protección de Datos Personales en posesión 
                         de particulares. <br><br>
                        
                         Con toda la información de los puntos anteriores habiendo sido explicado 
                         de forma completa, clara y al haber sido contestadas todas mis preguntas 
                         al aceptar este.
                    </p>
            </div>
            
            <div class="row pt-4">
                <div class="pl-4  text-right">
                    <button type="button" class="boton boton-info boton-home" (click)="answer()">
                        Acepto
                    </button>
                </div>
                <div class="pl-1">
                    <a [routerLink]= "'/thanks'" class="boton boton-cancel boton-home">
                        No Acepto
                      </a>
                    
                </div>
            </div>


        </div>

        <div class="pt-5">
            <app-logo-tiles [logoList]= survey.surveyLogos></app-logo-tiles>
        </div>
        
    
    </div>
    
        <pre>{{ survey | json }}</pre> 


</section>

<app-survey-response *ngIf="respond" [survey]= survey></app-survey-response>


