<header [style.background-color]= survey.surveyColor>
    <div class="container">
        <div class="row">
            
            <div class="col">
                <div class="title-heading">{{survey.surveyTitle}}</div>
                <br>
            </div>
            
        </div>

    </div>
</header>
<section *ngIf="!respond">
    <div class="container">
        <div class="mt-5">
            <br><br><br>
            <div class="disclaimer">  
                <div [innerHtml]="survey.description | safe: 'html'"></div>
            </div>
            
            <div class="row pt-4">
                <div class="pl-4  text-right">
                    <button type="button" class="boton boton-info boton-home" (click)="answer()">
                        Acepto
                    </button>
                </div>
                <div class="pl-1">
                    <a [routerLink]= "'/thanks'" class="boton boton-cancel boton-home">
                        No Acepto
                      </a>
                    
                </div>
            </div>


        </div>

        <div class="pt-5">
            <app-logo-tiles [logoList]= survey.surveyLogos></app-logo-tiles>
        </div>
        
    
    </div>
    
        <!-- <pre>{{ survey | json }}</pre>  -->


</section>

<app-survey-response *ngIf="respond" [survey]= survey></app-survey-response>


