<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
    <section class="page-section ">
        <div class="container">
            <!-- <mat-card fxFlex > -->
            <!-- <mat-card-content class="personal"> -->

            <mat-horizontal-stepper labelPosition="bottom" formArrayName="sectionsResponses"
                (selectionChange)="selectionChange($event)">
                <mat-step *ngFor="let sectionResponse of sectionsResponses().controls; let s = index"
                    [formGroupName]="s" [completed]="survey.sections[s].enabled" [editable]="!sectionResponse.valid">
                    <ng-template matStepLabel>{{survey.sections[s].name}}</ng-template>

                    <div class="personal" formArrayName="questionResponses" style="border-color: black;">

                        <blockquote class="blockquote text-center">
                            <p class="pb-5 pt-3">{{survey.sections[s].title}}</p>
                        </blockquote>

                        <div *ngFor="let questionResponse of questionResponses(s).controls; let q = index"
                            [formGroupName]="q" class="section">

                            <div [ngSwitch]="survey.sections[s].questions[q].questionType">

                                <div *ngSwitchCase="'OPEN'">
                                    <div *ngIf="survey.sections[s].questions[q].display" >
                                        <mat-label>{{survey.sections[s].questions[q].questionText}}</mat-label>
                                        <mat-form-field fxFlex="80">
                                            <input matInput required formControlName="responseText">
                                        </mat-form-field>
                                        <div *ngIf="questionResponse.get('responseText').invalid && (
                                                        questionResponse.get('responseText').dirty || questionResponse.get('responseText').touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="questionResponse.get('responseText').errors.required">
                                                Este campo es obligatorio.
                                            </div>
                                            <div *ngIf="questionResponse.get('responseText').errors.email">
                                                Introduzca un email válido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngSwitchCase="'SELECT'">
                                    <div *ngIf="survey.sections[s].questions[q].display" class="question">
                                        <mat-form-field fxFlex="80">
                                            <mat-label>{{survey.sections[s].questions[q].questionText}}</mat-label>
                                            <mat-select required formControlName="responseOption">
                                                <mat-option
                                                    *ngFor="let option of survey.sections[s].questions[q].options"
                                                    [value]="option">{{option.text}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div *ngIf="questionResponse.get('responseOption').invalid && (
                                                        questionResponse.get('responseOption').dirty || questionResponse.get('responseOption').touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="questionResponse.get('responseOption').errors.required">
                                                Este campo es obligatorio
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngSwitchCase="'OPTION'">
                                    <div *ngIf="survey.sections[s].questions[q].display" class="question">
                                        <label>{{survey.sections[s].questions[q].questionText}}</label>
                                        <mat-radio-group class="example-radio-group" required
                                            formControlName="responseOption">
                                            <mat-radio-button class="example-radio-button"
                                                *ngFor="let option of survey.sections[s].questions[q].options"
                                                [value]="option" (change)="radioChange($event, s, q)">
                                                {{option.text}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <div *ngIf="questionResponse.get('responseOption').invalid && (
                                                        questionResponse.get('responseOption').dirty || questionResponse.get('responseOption').touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="questionResponse.get('responseOption').errors.required">
                                                Este campo es obligatorio
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btns">


                        <div class="container">
                            <p style="padding-top:20px;">
                                Las respuestas emocionales durante la pandemia y el confinamiento son muy frecuentes, y
                                algunas pueden ser normales; sin embargo, la puntuación positiva de este cuestionario no
                                reemplaza el juicio de un profesional de la salud.
                                Acuda a su médico
                            </p>
                        </div>
                        <div style="padding-top:20px;">
                            <button type="submit" class="boton boton-info" mat-button matStepperNext
                                [disabled]="!sectionResponse.valid">
                                <span class="material-icons prefix">
                                    arrow_forward
                                </span>
                            </button>
                        </div>

                    </div>
                </mat-step>
                <mat-step [completed]=true>
                    <ng-template matStepLabel>Finalizar</ng-template>
                    <p>¡Gracias por sus respuestas!</p>
                    <div>
                        <button class="boton boton-info" mat-raised-button type="button" [disabled]="!surveyForm.valid"
                            (click)="saveSurvey()">Finalizar</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

            <!-- </mat-card-content> -->

            <!-- </mat-card> -->
        </div>

    </section>
</form>

<!-- <pre>{{ surveyForm.value | json }}</pre> -->