<header class="home-header">
    <div class="container">
        <div class="row">
            
            <div class="col">
                <div class="title-heading">ENCUESTA DE SALUD MENTAL</div>
                <br>
            </div>
            
        </div>

    </div>
</header>

<app-my-loader></app-my-loader>

<router-outlet></router-outlet>

<footer>
    <div class="container col">
      <div class="pt-9 text-center">
        Copyright © 2020 My Company. All rights reserved.
      </div>
      <div class="text-right powered">Powered by Axolote Solutions</div>
    </div>
</footer>

