<div class="container">
    <div class="pt-6">
        <div class="pl-3">
            <br><br><br><br><p style="text-align:center;"><b>Gracias por su tiempo</b><br><br> Puede cerrar esta ventana. </p>

        </div>
    </div>
</div>
    
    <br><br><br>
    <div class="logo"> 
        <img class="img" src="./assets/img/porTúCorazón.png"hspace="20"/>
        <img class="img" src="./assets/img/logoCESB.jpg"hspace="20"/>
        <img class="img" src="./assets/img/porTúSaludMental.png"hspace="20"/>
        <img class="img" src="./assets/img/logoAPM.png"hspace="20"/>
    </div>



