
/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


@page {
  size: a3;
}

$bgcolor: snow;
$text_white: ghostwhite;
$main_color: #20aee3;
$secondary_color: #072ab0;
$secondary_color_disabled: #041866;
$secondary_color_hover: #0830c9;
$alert_color: #b02d07;
$alert_color_hover: #c93308;
$secondary_color_shadow: #0b455b;

body {
  background-color: $bgcolor;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.survey-end {
  //background-color: $bgcolor;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 42px;
  padding-top: 180px;
  padding-bottom: 15px;
}

.page-section {
  padding: 3rem 0;
}

.title-heading {
  text-align: center;
  padding-top: 18px;
  color: $text_white;
  font-size: 38px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .title-heading {
    font-size: calc(1rem + 3.3vw);
    // color: red;
  }
}


.control-group {
  margin-top: 60px;
  &-title {
    @extend .control-group;
    font-weight: bold;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .control-group {
    margin-top: 30px;
  }
}

.disclaimer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 15px;
  border-left: 5px solid $secondary_color_shadow;
  padding-left: 10px;
}

.left-button-wrapper {
  justify-content: right;
}

.boton {
  width: 95px;
  height: 35px;
  display: inline-block;
  font-weight: 400;
  color: $text_white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.boton-info {
  color: $text_white;
  background-color: $secondary_color;
  border-color: $secondary_color;
}

.boton-info:hover{
  color: $bgcolor;
  background-color: $secondary_color_hover;
}

.boton-info:disabled {
  background-color: $secondary_color_disabled;
  color: $text_white;
}

.boton-cancel {
  color: $text_white;
  background-color: $alert_color;
}

.boton-cancel:hover {
  color: $bgcolor;
  background-color: $alert_color_hover;
}

.boton-home{
  font-size: .75rem;
}

.home-header{
  background-color:  $main_color;
}

.prefix {
  color: $text_white
}

.personal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
}

.question{
  box-shadow: 5px 10px 20px $secondary_color_shadow;
  padding: 1rem;  
  margin: 1rem;
}

.question-header {
  font-size: 1.2rem;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
background-color: $main_color;
color: $text_white;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.logo {
  text-align:center; /*pictures are afected by text propieties*/
  display: flex;
  justify-content: center;
  width: 125px;
  height: 95px;
  margin:auto;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  padding-top: 180px;
  padding-bottom: 15px;
  font-size: 11px;
}

.powered {
  font-size: 10px;
}

blockquote {
  background-color: $secondary_color_shadow;
  color: $text_white;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $secondary_color_shadow; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: $secondary_color_shadow; 
  background-color: $secondary_color_shadow;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:  $secondary_color_hover !important;
}


